/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/************************************************************************/
/* COLORS                                                               */
/* Please attempt to use and standardize on these colors,               */
/* rather than including specific color values in                       */
/* component styles. This will allow us to more easily adjust theming   */
/************************************************************************/

@primary-color: #009B5D;
@indicator-color: @primary-color;

@brand-primary-dark1: #008d55;
@brand-primary-dark2: #007144;
@brand-primary-light1: #2eaa7a;
@brand-primary-light2: #71bf95;
@brand-primary-light3: #99d3bc;
@brand-primary-light4: #b9ead5;
@brand-primary-light5: #d1f3ea;

@brand-secondary: #002d5d;
@brand-secondary-dark1: #004690;
@brand-secondary-dark2: #001c3a;
@brand-secondary-dark3: #1b222a;
@brand-secondary-light1: #33577d;
@brand-secondary-light2: #6c96c4;
@brand-secondary-light3: #9fb7d6;
@brand-secondary-light4: #b3c9e4;
@brand-secondary-light5: #cbe0f4;

@almost-black: #002d5d;
@gray-dark: #2b3743;
@gray-light: #A4B4C5;
@gray-light5: #c9dae9;
@gray: #4b5f74;
@gray-bg: #f7f7f7;
@gray-heading: #a3a3a3;
@menu-hover: #f2f3f5;
@lightest: #ffffff;
@darkest: #000000;

/**************************** text-specific *****************************/
@link: #36B0D9;
@link-hover: darken(@link, @colorstop-one);

/***************************** status colors ****************************/
@info: #ABC922;
@info-dark1: #80971A;
@info-dark2: #687a14;
@info-light1: #D5E491;
@info-light2: #e6f0ba;

@danger: #C82256;
@danger-dark1: #99395C;
@danger-dark2: #5a0922;
@danger-light1: #ED7286;
@danger-light2: #fdeaf0;

@success: #01CE7C;
@success-dark1: #41A77E;
@success-dark2: #017044;
@success-light1: #7DDEAF;
@success-light2: #e8fbf3;

@warning: #FCC550;
@warning-dark1: #BD943C;
@warning-dark2: #7d6300;
@warning-light1: #FEE2A8;
@warning-light2: #fef9e6;

/* general component effects */
@shadow-highlight: @primary-color;

/************************************************************************/
/* OPACITIES                                                            */
/* Used in LESS filters, e.g. fade(@someColorVar, @someOpacityBelow)    */
/************************************************************************/
@opacity-light: 10%;
@opacity-medium-light: 35%;
@opacity-medium-heavy: 60%;
@opacity-heavy: 80%;

/************************************************************************/
/* SHADES & TINTS                                                       */
/* Used in LESS filters for shadint/tinting,                            */
/* e.g. shade(@someColorVar, @colorstop-one) to darken                  */
/* or tint(@someColorVar, @colorstop-one) to lighten                    */
/************************************************************************/
@colorstop-one: 20%;
@colorstop-two: 40%;
@colorstop-three: 60%;
@colorstop-four: 80%;

/************************************************************************/
/* LAYOUT                                                               */
/* Widths and heights of things, that might be referred to often        */
/************************************************************************/

/* builder component pane */
@builder-pane-width: 374px;

/************************************************************************/
/* Z-INDEX                                                              */
/* Think of the site as "layers" rather than an arms race of numbers    */
/* Keep these to a minimum                                              */
/* Label semantic "layers" and add comments for usage notes             */
/* Use double dash modifiers to step up/down from a base layer          */
/* e.g. z-whatever--modifier                                            */
/************************************************************************/

/************************ toast messages, popovers **********************/
@z-index-max: 3000;

/***** filters, dashboard editor widgets, Explore reloading overlay *****/
@z-index-dropdown: @z-index-above-dashboard-charts + 1;
@z-index-above-dashboard-charts: 10;

/******************************** charts ********************************/
@z-index-chart--dragging: @z-index-chart + 1;
@z-index-chart: 1;

/************************************************************************/
/* TYPOGRAPHY                                                           */
/* Commonly used font weights, line heights, etc. These should be the   */
/* core values used to build more complex styles for headers, etc.      */
/************************************************************************/

// *************************** Weights **********************************
@font-weight-light: 200;
@font-weight-normal: 400;
@font-weight-bold: 600;

// ***************************** Font Sizes *****************************
@font-size-base: 14px; // Base `rem` units on this, as needed.

@font-size-xxs: 9px;
@font-size-xs: 10px;
@font-size-s: 12px;
@font-size-m: @font-size-base;
@font-size-l: 16px;
@font-size-xl: 21px;
@font-size-xxl: 28px;

// **************************** Line Heights ****************************
@line-height-base: 1.4;
// Ranged Sizes
@line-height-tight: 1;
@line-height-normal: @line-height-base;
@line-height-loose: 2;

// ****************************** Features *******************************
@use-ligatures: false;

// setting up OTF settings based on @use-ligatures:
.set-otf-options(@use-ligatures);

.set-otf-options(true) {
  @font-feature-settings: 'liga' on,
  'calt' on;
}

.set-otf-options(false) {
  @font-feature-settings: 'liga' off,
  'calt' off;
}

// ****************************** Families ******************************
@font-family-sans-serif: 'Inter', Helvetica, Arial;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;
@font-family-monospace: 'Fira Code', 'Courier New', monospace;
@font-family-base: @font-family-sans-serif;

/************************************************************************/
/* TRANSITIONS                                                          */
/* Timing and easings presets used in CSS transitions                   */
/************************************************************************/
@timing-normal: 0.3s;

/************************************************************************/
/* BORDER RADII                                                         */
/* Standard border-radius settings                                      */
/************************************************************************/
@border-radius-normal: 4px;
@border-radius-large: (@border-radius-normal * 2);

/************************************************************************/
/* BOOTSTRAP/BOOTSWATCH/COSMO                                           */
/* These are the legacy Cosmo theme overrides to Bootswatch's           */
/* overrides to Bootstrap. We should consolidate/deprecate these        */
/* in favor of custom/reusable CSS wherever possible                    */
/************************************************************************/

@import '../less/cosmo/variables.less';